
{{> head}}
<title>Aviso de Privacidad</title>
</head>
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

<h1>Política de privacidad de Camporte</h1>
<p>En Camporte, accesible desde www.camporte.com, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene tipos de información que Camporte recopila y registra y cómo la usamos.</p>
<p>Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en contactarnos.</p>

<h2>Archivos de registro</h2>

Camporte sigue un procedimiento estándar de uso de archivos de registro. Estos archivos registran a los visitantes cuando visitan sitios web. Todas las empresas de hosting hacen esto y una parte de los análisis de los servicios de hosting. La información recopilada por los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP), marca de fecha y hora, páginas de referencia / salida y posiblemente la cantidad de clics. Estos no están vinculados a ninguna información que sea personalmente identificable. El propósito de la información es analizar tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recopilar información demográfica.
<h2>Cookies y Web Beacons</h2>

<p>Al igual que cualquier otro sitio web, Camporte utiliza 'cookies'. Estas cookies se utilizan para almacenar información, incluidas las preferencias de los visitantes, y las páginas del sitio web a las que el visitante accedió o visitó. La información se utiliza para optimizar la experiencia de los usuarios al personalizar el contenido de nuestra página web según el tipo de navegador de los visitantes y / u otra información.</p>

<h2>Cookie de Google DoubleClick DART</h2>
Google es uno de los proveedores de terceros en nuestro sitio. También utiliza cookies, conocidas como DART Cookies, para enviar anuncios a los visitantes de nuestro sitio en función de su visita a www.website.com y otros sitios en Internet. Sin embargo, los visitantes pueden optar por rechazar el uso de DART cookies visitando la Política de privacidad de la red de contenido y anuncios de Google en la siguiente URL: https://policies.google.com/technologies/ads

<h2>Nuestros socios publicitarios</h2>
<p>Algunos de los anunciantes en nuestro sitio pueden usar cookies y web beacons. Nuestros socios publicitarios se enumeran a continuación. Cada uno de nuestros socios publicitarios tiene su propia Política de privacidad para sus políticas sobre los datos del usuario. Para un acceso más fácil, hicimos un hipervínculo a sus políticas de privacidad a continuación.</p>
<ul>
    <li>
        <p>Google</p>
        <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
    </li>
</ul>

<h2>Políticas de privacidad</h2>

<p>Puede consultar esta lista para encontrar la Política de privacidad de cada uno de los socios publicitarios de Camporte. Nuestra Política de privacidad se creó con la ayuda del Generador de políticas de privacidad y el Generador de políticas de privacidad.</p>
<p>terceros servidores de anuncios  o redes publicitarias de terceros utilizan tecnologías como cookies, JavaScript o web beacos que se utilizan en sus respectivos anuncios y enlaces que aparecen en Camporte, que se envían directamente al navegador de los usuarios. ellos reciben automáticamente su dirección IP cuando esto ocurre. Estas tecnologías se utilizan para medir la efectividad de sus campañas publicitarias y / o para personalizar el contenido publicitario que ve en los sitios web que visita.</p>
<p>Tenga en cuenta que Camporte no tiene acceso ni control sobre estas cookies que utilizan los anunciantes externos.</p>

<h2>Políticas de privacidad de terceros</h2>
<p>La Política de privacidad de Camporte no se aplica a otros anunciantes o sitios web. Por lo tanto, le recomendamos que consulte las políticas de privacidad respectivas de estos servidores de anuncios de terceros para obtener información más detallada. Puede incluir sus prácticas e instrucciones sobre cómo darse de baja de ciertas opciones.</p>
<p>Puede optar por desactivar las cookies a través de las opciones de su navegador individual. Para conocer información más detallada sobre la gestión de cookies con navegadores web específicos, puede encontrarla en los respectivos sitios web de los navegadores. ¿Qué son las cookies?</p>

<h2>Información para niños</h2>
<p>Otra parte de nuestra prioridad es agregar protección para los niños mientras usan Internet. Alentamos a los padres y tutores a observar, participar y / o monitorear y guiar su actividad en línea.</p>
<p>Camporte does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

<h2>Política de privacidad en línea solamente</h2>
<p>Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web con respecto a la información que compartieron y / o recopilaron en Camporte. Esta política no es aplicable a ninguna información recopilada fuera de línea o por canales que no sean este sitio web.</p>
<h2>Consentimiento</h2>

<p>Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus Términos y condiciones.</p>
</div>
    {{> footer}}

</body>
</html>