{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

        <div class="categories">
            <div class="category">
                <figure>
                    <img src="./img/nuez.jpg" alt="">
                </figure>

                <span>Nuez</span>
            </div>

            <div class="category">
                <figure>
                    <img src="./img/maiz.jpg" alt="">
                </figure>

                <span>Maíz</span>
            </div>

            <div class="category">
                <figure>
                    <img src="./img/frijol.jpg" alt="">
                </figure>

                <span>Frijol</span>
            </div>

            <div class="category">
                <figure>
                    <img src="./img/nuez.jpg" alt="">
                </figure>

                <span>Nuez</span>
            </div>

            <div class="category">
                <figure>
                    <img src="./img/maiz.jpg" alt="">
                </figure>

                <span>Maíz</span>
            </div>

            <div class="category">
                <figure>
                    <img src="./img/frijol.jpg" alt="">
                </figure>

                <span>Frijol</span>
            </div>
            

            

        </div>
    </div>

</body>
</html>