{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

        <div class="breadcrumb">
            <h3>Productos</h3>

            <div class="breadcrumb-navigation">
                <a href="/">Inicio / <a href="/products" class="active-breadcrumb">Productos</a></a>
            </div>
        </div>

        <div class="list-products" id="container-products">
    {{!-- <div class="list-product">
        <figure>
            <img src="./img/product-01.jpg" alt="">
            <p class="prize">$20</p>
        </figure>
        <div class="info-product">
            <h3 class="title-product">Titulo</h3>
            <p class="desc-product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi, quo ipsum at aliquid ex?</p>
            <div class="detail-product">
                <p class="location-product">Torreón Coah.</p>
                <p class="author-product">Jhon Doe</p>
            </div>
        </div>
    </div> --}}
                {{!-- <div class="list-product">
                    <figure>
                        <img src="./img/product-01.jpg" alt="">
                        <p class="prize">$20</p>
                    </figure>
                    <div class="info-product">
                        <h3 class="title-product">Titulo</h3>
                        <p class="desc-product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi, quo ipsum at aliquid ex?</p>
                        <div class="detail-product">
                            <p class="location-product">Torreón Coah.</p>
                            <p class="author-product">Jhon Doe</p>
                        </div>
                    </div>
                </div>
                
                <div class="list-product">
                    <figure>
                        <img src="./img/product-01.jpg" alt="">
                        <p class="prize">$20</p>
                    </figure>
                    <div class="info-product">
                        <h3 class="title-product">Titulo</h3>
                        <p class="desc-product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi, quo ipsum at aliquid ex?</p>
                        <div class="detail-product">
                            <p class="location-product">Torreón Coah.</p>
                            <p class="author-product">Jhon Doe</p>
                        </div>
                    </div>
                </div> --}}
            </div>
    </div>

    <div class="pagination container" id="pagination"></div>

    {{> footer}}

</body>
</html>