{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}
        <div class="breadcrumb">
            <h3>Productos</h3>
            <div class="breadcrumb-navigation">
                <a href="/">Inicio / <a href="/products" class="active-breadcrumb">Productos</a></a>
            </div>
        </div>
        <div class="list-products" id="container-products"></div>
    </div>
    <div class="pagination container" id="pagination"></div>
    {{> footer}}
</body>
</html>