{{> head}}
<title>Categorias</title>
</head>
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}
        <div class="categories" id="container-categories"></div>
    </div>
</body>
</html>