
{{> head}}
<title>Cookies</title>

</head>
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

<h1>Política de cookies para Camporte</h1>
<p>Esta es la Política de Cookies para Camporte, accesible desde www.camporte.com</p>
<p><strong>¿Qué son las cookies?</strong></p>
<p>Como es práctica común en casi todos los sitios web profesionales, este sitio utiliza cookies, que son pequeños archivos que se descargan a su computadora, para mejorar su experiencia. Esta página describe qué información recopilan, cómo la usamos y por qué a veces necesitamos almacenar estas cookies. También compartiremos cómo puede evitar que estas cookies se almacenen, sin embargo, esto puede degradar o 'romper' ciertos elementos de la funcionalidad del sitio.</p>
<p>Para obtener información más general sobre las cookies, consulte el artículo de Wikipedia sobre Cookies HTTP.</p>

<p><strong>Como usamos las cookies</strong></p>

<p>Utilizamos cookies por una variedad de razones detalladas a continuación. Desafortunadamente, en la mayoría de los casos no hay opciones estándar de la industria para deshabilitar las cookies sin deshabilitar por completo la funcionalidad y las funciones que agregan a este sitio. Se recomienda que deje todas las cookies si no está seguro de si las necesita o no en caso de que se utilicen para proporcionar un servicio que utiliza.</p>
<p><strong>Deshabilitar Cookies</strong></p>

<p>Puede evitar la configuración de cookies ajustando la configuración en su navegador (consulte la Ayuda de su navegador para saber cómo hacerlo). Tenga en cuenta que deshabilitar las cookies afectará la funcionalidad de este y muchos otros sitios web que visita. La desactivación de las cookies generalmente también provocará la desactivación de ciertas funciones y características de este sitio. Por lo tanto, se recomienda que no desactive las cookies.</p>
<p><strong>Las Cookies que establecemos</strong></p>

<ul>

<li>
    <p>Cookies relacionadas con la cuenta</p>
    <p>Si crea una cuenta con nosotros, utilizaremos cookies para la gestión del proceso de registro y la administración general. Estas cookies generalmente se eliminarán cuando cierre la sesión; sin embargo, en algunos casos pueden permanecer después para recordar las preferencias de su sitio cuando cierre la sesión.</p>
</li>

<li>
    <p>Cookies relacionadas con inicar sesión</p>
    <p>Usamos cookies cuando está conectado para que podamos recordar este hecho. Esto evita que tenga que iniciar sesión cada vez que visita una nueva página. Estas cookies generalmente se eliminan o borran cuando cierra la sesión para garantizar que solo pueda acceder a las funciones y áreas restringidas cuando inicie sesión.</p>
</li>

<li>
    <p>Cookies relacionadas con boletines electrónicos</p>
    <p>Este sitio ofrece servicios de suscripción a boletines o correo electrónico y las cookies se pueden usar para recordar si ya está registrado y para mostrar ciertas notificaciones que solo pueden ser válidas para usuarios suscritos / no suscritos.</p>
</li>

<li>
    <p>Cookies relacionadas con procesamiento de órdenes</p>
    <p>Este sitio ofrece servicios de pago o comercio electrónico y algunas cookies son esenciales para garantizar que su pedido sea recordado entre páginas para que podamos procesarlo correctamente.</p>
</li>

<li>
    <p>Cookies relacionadas con encuestas</p>
    <p>De vez en cuando, ofrecemos encuestas y cuestionarios a los usuarios para brindarle información interesante, herramientas útiles o para comprender nuestra base de usuarios con mayor precisión. Estas encuestas pueden usar cookies para recordar quién ya participó en una encuesta o para proporcionarle resultados precisos después de cambiar las páginas.</p>
</li>

<li>
    <p>Cookies relacionadas con formularios</p>
    <p>Cuando envía datos a través de un formulario como los que se encuentran en las páginas de contacto o en los formularios de comentarios, las cookies pueden configurarse para recordar sus datos de usuario para correspondencia futura.</p>
</li>

<li>
    <p>Cookies de preferencias del sitio</p>
    <p>Con el fin de brindarle una gran experiencia en este sitio, le brindamos la funcionalidad para establecer sus preferencias sobre cómo se ejecuta este sitio cuando lo usa. Para recordar sus preferencias, necesitamos establecer cookies para que se pueda llamar a esta información cada vez que interactúe con una página afectada por sus preferencias.</p>
</li>

</ul>

<p><strong>Cookies de terceros</strong></p>

<p>En algunos casos especiales, también utilizamos cookies proporcionadas por terceros de confianza. La siguiente sección detalla qué cookies de terceros puede encontrar a través de este sitio.</p>
<ul>

<li>
    <p>Este sitio utiliza Google Analytics, que es una de las soluciones de análisis más extendidas y confiables en la web para ayudarnos a comprender cómo usa el sitio y las formas en que podemos mejorar su experiencia. Estas cookies pueden rastrear cosas como el tiempo que pasa en el sitio y las páginas que visita para que podamos continuar produciendo contenido atractivo.</p>
    <p>Para obtener más información sobre las cookies de Google Analytics, consulte la página oficial de Google Analytics.</p>
</li>

<li>
    <p>Los análisis de terceros se utilizan para rastrear y medir el uso de este sitio para que podamos continuar produciendo contenido atractivo. Estas cookies pueden rastrear cosas como el tiempo que pasa en el sitio o las páginas que visita, lo que nos ayuda a comprender cómo podemos mejorar el sitio para usted.</p>
</li>

<li>
    <p>De vez en cuando probamos nuevas características y hacemos cambios sutiles en la forma en que se entrega el sitio. Cuando todavía estamos probando nuevas funciones, estas cookies se pueden usar para garantizar que reciba una experiencia coherente mientras está en el sitio, al tiempo que nos aseguramos de que comprendamos qué optimizaciones aprecian más nuestros usuarios.</p>
</li>

<li>
    <p>A medida que vendemos productos, es importante que comprendamos las estadísticas sobre cuántos de los visitantes de nuestro sitio realmente hacen una compra y, como tal, este es el tipo de datos que rastrearán estas cookies. Esto es importante para usted, ya que significa que podemos hacer predicciones comerciales con precisión que nos permitan controlar nuestra publicidad y los costos de los productos para garantizar el mejor precio posible.</p>
</li>

<li>
    <p>El servicio Google AdSense que utilizamos para publicar anuncios utiliza una cookie de DoubleClick para publicar anuncios más relevantes en la web y limitar la cantidad de veces que se le muestra un anuncio determinado.</p>
    <p>Para obtener más información sobre Google AdSense, consulte las Preguntas frecuentes sobre la privacidad oficial de Google AdSense.</p>
</li>

<li>
    <p>Usamos anuncios para compensar los costos de ejecutar este sitio y proporcionar fondos para un mayor desarrollo. Las cookies de publicidad conductual utilizadas por este sitio están diseñadas para garantizar que le proporcionemos los anuncios más relevantes siempre que sea posible mediante el seguimiento anónimo de sus intereses y presentando cosas similares que pueden ser de su interés.</p>
</li>


<li>
    <p>Varios socios anuncian en nuestro nombre y las cookies de seguimiento de afiliados simplemente nos permiten ver si nuestros clientes han visitado el sitio a través de uno de nuestros sitios asociados para que podamos acreditarlos adecuadamente y, cuando corresponda, permitir que nuestros socios afiliados proporcionen cualquier bono que puedan proporcionarle para hacer una compra.</p>
</li>

<li>
    <p>También utilizamos botones y / o complementos de redes sociales en este sitio que le permiten conectarse con su red social de varias maneras. Para que estos funcionen, los siguientes sitios de redes sociales incluyen</p>
    <ul>
        <li><p>Google</p></li>
        <li><p>Facebook</p></li>
    </ul>
    <p>establecerá cookies a través de nuestro sitio que pueden usarse para mejorar su perfil en su sitio o contribuir a los datos que poseen para diversos fines descritos en sus respectivas políticas de privacidad.</p>
</li>

</ul>

<p><strong>Mas información</strong></p>

<p>Con suerte, eso le ha aclarado las cosas y, como se mencionó anteriormente, si hay algo que no está seguro de si necesita o no, generalmente es más seguro dejar las cookies habilitadas en caso de que interactúe con una de las funciones que usa en nuestro sitio. Esta Política de cookies se creó con la ayuda del <a href="https://www.cookiepolicygenerator.com/">Cookies Policy Template Generator</a> y <a href="https://www.webterms.org/">WebTerms Generator.</a>. </p>

<p>Sin embargo, si todavía está buscando más información, puede contactarnos a través de uno de nuestros métodos de contacto preferidos:</p>

<ul>
<li>Email: amayarivasc@gmail.com</li>

<li>Teléfono: 871 525 01 58</li></ul>


</div>
    {{> footer}}

</body>
</html>