{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

        <div class="welcome" id="welcome">
            <h3>Some Title Goes Here</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea tempore assumenda incidunt quaerat dolor temporibus.</p>
        </div>

        <div class="login-container" id="loginContainer">
            <div >
                <div class="form-active">
                    <button class="active" id="buttonLogin" >LOGIN</button>
                    <button id="buttonRegister">REGISTRO</button>
                </div>

                <div id="messageErrorBox" class="formErrors container"></div>

                <form class="container login" >
                    <div class="email">
                        <input type="email" placeholder="example@gmail.com" id="emailLogin">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="*******" id="passwordLogin">
                        <i class="fas fa-lock"></i>
                    </div>

                    <div class="conditions">
                        <label><input type="checkbox" id="checkboxRemember"><span><p>Recordar</p></span></label>
                        <a class="lost-password">Perdí mi contraseña</a>
                    </div>

                    <input type="submit" value="Login" class="login-button" id="submitLogin">
                </form>

                <form class="container register">
                    <div class="name">
                        <input type="text" placeholder="Nombre" id="signUpFullName">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="last-name">
                        <input type="text" placeholder="Apellidos" id="signUpLastName">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="email">
                        <input type="text" placeholder="Correo Electrónico" id="signUpEmail">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Contraseña" id="signUpPassword">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Repetir Contraseña" id="signUpPassword2">
                        <i class="fas fa-lock"></i>
                    </div>

                    <div class="conditions">
                        <label><input type="checkbox" id="checkConditions" ><span><p>Acepto derechos y condiciones</p></span></label>
                        <label><input type="checkbox" id="checkPrivacy"><span><p>Acepto privacidad</p></span></label>
                    </div>

                    <input type="submit" value="Registrarse" class="login-button" id="buttonSignUp">
                </form>

                <form class="container account-options">
                    <p>¿A que grupo pertenece?</p>
                    <div class="options">
                        <div class="optionBuy">
                            <p>Deseo Comprar</p>
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div class="optionSell">
                            <p>Deseo Vender</p>
                            <i class="fas fa-university"></i>
                        </div>
                    </div>
                    <input type="submit" value="Siguiente" class="login-button button-submit-options" id="account-options1">
                </form>

                <form class="container account-options-2">
                    <p>¿A que grupo pertenece?</p>
                    <div class="options">
                        <div class="optionUser">
                            <p>Cuenta personal</p>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="optionTeam">
                            <p>Cuenta ejidataria</p>
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <input type="submit" value="Registrarse" class="login-button button-submit-options" id="account-options2">
                </form>
                <hr>
                <div class="login-altern">
                    <div class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </div>

                    <div class="google">
                        <i class="fab fa-google"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>