{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

    

    {{!-- <div class="container"> --}}
        <div class="breadcrumb">
            <h3 id="title">Producto</h3>

            <div class="breadcrumb-navigation">
                <a href="/">Inicio / <a id="url-product" href="" class="active-breadcrumb"></a></a>
            </div>
        </div>
    </div>

        <section class="product container">
            <figure id="pics-prod">
                <i class="fas fa-chevron-right next" id="next"></i>
                <i class="fas fa-chevron-left back" id="back"></i>
                <div class="counter" id="counter">
                </div>
            </figure>

            <div class="info-product">
                <div>
                    <div class="info-user">
                        <div class="name"><i class="far fa-user"></i> <span class="user-name" id="user-name">Chris Amaya</span></div>
                        <div class="location"><i class="fas fa-location-arrow"></i> <span class="user-location" id="user-location">Torreon, Coah.</span></div>
                    </div>

                    <div class="shop-button" id="buy">
                        <i class="fas fa-shopping-bag"></i>
                    </div>
                </div>

                <div class="product-desc">
                    <h2 class="product-title" id="title-prod"></h2>
                    <p class="product-detail" id="desc-prod"></p>
                </div>
            </div>
        </section>

        {{!-- <div class="messenger">
            <i class="fab fa-facebook-messenger"></i>
        </div> --}}
    {{!-- </div> --}}

    {{> footer}}

</body>
</html>