{{> dashboardPanels}}
<title>Dashboard</title>
</head>
        
    {{!-- <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Perfil</a></p> --}}
    <p class="breadCrumbs">Dashboard</p>

    </section>

</div>



</body>
</html>