{{> dashboardPanels}}
        
    <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Mis productos</a></p>

        <div>
            <div class="buttons">
                <div class="search-product">
                    <i class="fas fa-search"></i>
                </div>

                <div class="add-product">
                    <a href="/dashboard/crear-producto">
                        <i class="fas fa-plus highlight"></i>
                    </a>
                </div>
            </div>

            <div class="products-table" id="products-table"></div>
            
            <div class="pagination container" id="pagination"></div>


        </div>






    </section>

</div>


</body>
</html>