{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

        <section class="container">

            <div class="user-importantData">
                <div>
                    <figure class="user-pic">
                        <img src="../img/profile.jpg" alt="" id="user-pic">
                        
                    </figure>

                    <h2 id='user-name'>Chris Amaya</h2>

                    <div class="user-bar">
                        <div class="bar-verification">
                            <div class="user-verification">
                                <div class="user-background-verification">
                                    <div class="user-percentage-verification"></div>
                                    <p>75%</p>
                                </div>
                                <div class="user-steps-verificated" >
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <p>Verificado</p>
                    </div>
                </div>
            </div>

            <div class="about">
                <h3 class="encabezado">Sobre Mí</h3>
                <p id="user-about"></p>
            </div>

            <div class="user-otherData">
                <div>
                    <p>Dirección</p>
                    <p class="highlight" id="address">Calle Magnolias</p>
                </div>

                <div>
                    <p>Correo Electrónico</p>
                    <p class="highlight" id="email">amayarivasc@gmail.com</p>
                </div>

                <div>
                    <p>Estado</p>
                    <p class="highlight" id="state">Durango</p>
                </div>

                <div>
                    <p>Número de telefono</p>
                    <p class="highlight" id="phone" >+52 511 123 12 12</p>
                </div>
                
                <div>
                    <p>Ciudad</p>
                    <p class="highlight" id="city">Gomez Palacio</p>
                </div>

                <div>
                    <p>Código Postal</p>
                    <p class="highlight" id="cp">31213</p>
                </div>                
            </div>

            <div class="user-products"> 
                <h4 class="encabezado">Mis productos</h4>
                <div class="container-products" id="container-products"></div>
            </div>
        </section>
        </div>
        {{> footer}}
</body>
</html>