{{> head}}
<body>
    {{> modals}}
    <div class="container">
        {{> header2}}

        <section class="container">

            <div class="user-importantData">
                <div>
                    <figure class="user-pic">
                        <img src="../img/profile.jpg" alt="">
                    </figure>

                    <h2>Chris Amaya</h2>

                    <div class="stars">
                        <div class="backgroundStars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="counter-opinions">
                            <p id="number-counter-opinions">10</p> 
                            <p>Opiniones</p>
                        </div>
                    </div>

                    <div class="user-bar">
                        <div class="bar-verification">
                            <div class="user-verification">
                                <div class="user-background-verification">
                                    <div class="user-percentage-verification"></div>
                                    <p>75%</p>
                                </div>
                                <div class="user-steps-verificated" >
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <p>Verificado</p>
                    </div>
                </div>

                <div class="user-summary-data">
                    <div>
                        <h3>150</h3>
                        <p>Productos Vendidos</p>
                    </div>

                    <div>
                        <h3>10</h3>
                        <p>Productos en venta</p>
                    </div>

                    <div>
                        <h3>20</h3>
                        <p>Criticas</p>
                    </div>
                </div>
            </div>

            <div class="about">
                <h3 class="encabezado">Sobre Mí</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, exercitationem incidunt blanditiis facilis provident eaque quod magnam aliquid modi quaerat error animi corrupti labore sunt deserunt dicta numquam tenetur corporis excepturi voluptas, voluptate itaque nisi! Totam ratione quos eius natus perspiciatis! Quaerat, repellat! Quaerat sit vitae eos animi numquam soluta?</p>
            </div>

            <div class="user-otherData">
                <div>
                    <p>Dirección</p>
                    <p class="highlight" id="address">Calle Magnolias</p>
                </div>

                <div>
                    <p>Correo Electrónico</p>
                    <p class="highlight" id="email">amayarivasc@gmail.com</p>
                </div>

                <div>
                    <p>Estado</p>
                    <p class="highlight" id="state">Durango</p>
                </div>

                <div>
                    <p>Número de telefono</p>
                    <p class="highlight" id="phone" >+52 511 123 12 12</p>
                </div>
                
                <div>
                    <p>Ciudad</p>
                    <p class="highlight" id="city">Gomez Palacio</p>
                </div>

                <div>
                    <p>Código Postal</p>
                    <p class="highlight" id="cp">31213</p>
                </div>                
            </div>

            <div class="user-products"> 
                <h4 class="encabezado">Mis productos</h4>
                <div class="container-products">
                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>

                    <a href="/producto/producto-01">
                        <figure>
                            <img src="../img/product-01.jpg" alt="">
                            <p class="prize">$20</p>
                        </figure>
                    </a>
                </div>
            </div>

            <div class="comments">
                <h3 class="encabezado">Comentarios</h3>

                <div class="comment">
                    <figure class="user-pic">
                        <img src="../img/profile.jpg" alt="">
                    </figure>
                    <div class="comment-info">
                        <h4 class="user-name">Chris Amaya</h4>
                        <p class="user-comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quia corrupti vero enim nostrum, labore, consectetur in numquam blanditiis quasi non ullam nesciunt itaque sunt dolores animi inventore fugit? Dolorem.</p>
                        <div class="controls">
                            <div>
                                <div class="button-like">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span id="counter-like">5</span>
                                    <span>Me gusta</span>
                                </div>
                                <div class="button-comment">
                                    <i class="fas fa-comment"></i>
                                    <span id="counter-comment">10</span>
                                    <span>Comentarios</span>
                                </div>
                            </div>
                            <div class="button-share">
                                <i class="fas fa-share"></i>
                            </div>
                        </div>
                    </div>
                    <div class="see-more" id="see-more">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="comment">
                    <figure class="user-pic">
                        <img src="../img/profile.jpg" alt="">
                    </figure>
                    <div class="comment-info">
                        <h4 class="user-name">Chris Amaya</h4>
                        <p class="user-comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quia corrupti vero enim nostrum, labore, consectetur in numquam blanditiis quasi non ullam nesciunt itaque sunt dolores animi inventore fugit? Dolorem.</p>
                        <div class="controls">
                            <div>
                                <div class="button-like">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span id="counter-like">5</span>
                                    <span>Me gusta</span>
                                </div>
                                <div class="button-comment">
                                    <i class="fas fa-comment"></i>
                                    <span id="counter-comment">10</span>
                                    <span>Comentarios</span>
                                </div>
                            </div>
                            <div class="button-share">
                                <i class="fas fa-share"></i>
                            </div>
                        </div>
                    </div>
                    <div class="see-more" id="see-more">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="comment-box">
                    <form class="form-make-comment">
                        <textarea id="make-comment" placeholder="Tú comentario"></textarea>
                        <div class="comment-buttons" >
                            <figure class="user-pic">
                                <img src="../img/profile.jpg" alt="">
                            </figure>
                            <input type="button" value="cancelar" id="cancel-comment">
                            <input type="submit" value="comentar" id="send-comment">
                        </div>
                    </form>
                </div>

        </section>




</body>
</html>