{{> dashboardPanels}}
        
    <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Seguridad</a></p>

        <form class="user-form security" >
            <div class="name">
                <p>Actual contraseña</p>
                <input type="text" placeholder="ej. Christian" id="firstName">
            </div>

            <div class="lastName">
                <p>Nueva contraseña</p>
                <input type="text" placeholder="ej. Amaya" id="lastName">
            </div>

            <div class="address">
                <p>Repetir contraseña</p>
                <input type="text" placeholder="ej. calle Emiliano zapata">
            </div>

            

            <div class="updateButtonContainer">
                <input type="submit" value="Actualizar" class="login-button" id="buttonUpdate">
            </div>

        </form>






    </section>

</div>


</body>
</html>