{{> dashboardPanels}}
        
    <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Seguridad</a></p>

        <form class="user-form security" >
            <div id="messageErrorBox" class="formErrors container"></div>
            <div class="name">
                <p>Actual contraseña</p>
                <input type="password" placeholder="" id="currentPassword">
            </div>

            <div class="lastName">
                <p>Nueva contraseña</p>
                <input type="password" id="newPassword">
            </div>

            <div class="address">
                <p>Repetir contraseña</p>
                <input type="password" id="newPassword2">
            </div>

            

            <div class="updateButtonContainer">
                <input type="submit" value="Actualizar" class="login-button" id="buttonUpdate">
            </div>

        </form>






    </section>

</div>


</body>
</html>