{{> dashboardPanels}}
        
    <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Perfil</a></p>

        <form class="user-form" >
            <div class="name">
                <p>Nombre</p>
                <input type="text" placeholder="ej. Christian" id="input-firstName">
            </div>

            <div class="lastName">
                <p>Apellidos</p>
                <input type="text" placeholder="ej. Amaya" id="lastName">
            </div>

            <div class="address">
                <p>Dirección</p>
                <input type="text" placeholder="ej. calle Emiliano zapata" id="address">
            </div>

            <div class="state">
                <p>Estado</p>
                <div class="box-select">
                    <select id="state">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="post-code">
                <p>Código postal</p>
                <input type="text" placeholder="ej. 31031" id="cp">
            </div>

            <div class="city">
                <p>Ciudad</p>
                <div class="box-select">
                    <select id="cities">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="phone">
                <p>Número de télefono</p>
                <input type="text" placeholder="871 555 55 55" id="phone">
            </div>

            <div class="email">
                <p>Correo Electrónico</p>
                <input type="text" placeholder="usuario@gmail.com" id="email">
            </div>

            <div class="updateButtonContainer">
                <input type="submit" value="Actualizar" class="login-button" id="buttonUpdate">
            </div>

        </form>






    </section>

</div>


</body>
</html>