{{> dashboardPanels}}
        
    <p class="breadCrumbs">Dashboard / <a class="breadCrumbs active" href="/">Perfil</a></p>

        <form class="user-form" >
            <div class="name">
                <p>Nombre</p>
                <input type="text" placeholder="ej. Christian" id="firstName">
            </div>

            <div class="lastName">
                <p>Apellidos</p>
                <input type="text" placeholder="ej. Amaya" id="lastName">
            </div>

            <div class="address">
                <p>Dirección</p>
                <input type="text" placeholder="ej. calle Emiliano zapata">
            </div>

            <div class="state">
                <p>Estado</p>
                <select id="state">
                    <option value="dgo">Durango</option>
                    <option value="mty">Monterrye</option>
                </select>
            </div>

            <div class="post-code">
                <p>Código postal</p>
                <input type="text" placeholder="ej. 31031">
            </div>

            <div class="city">
                <p>Ciudad</p>
                <select id="cities"></select>
            </div>

            <div class="phone">
                <p>Número de télefono</p>
                <input type="text" placeholder="871 555 55 55">
            </div>

            <div class="email">
                <p>Correo Electrónico</p>
                <input type="text" placeholder="usuario@gmail.com">
            </div>

            <div class="updateButtonContainer">
                <input type="submit" value="Actualizar" class="login-button" id="buttonUpdate">
            </div>

        </form>






    </section>

</div>


</body>
</html>