body, html, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body, html {
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: 'Open Sans';
}

:root {
    --grey-color: #f2f2f2;
    --grey-2nd: #B7B7B7;
    --grey-3rd: #515151;
    --yellow-color: #FE921F;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: var(--grey-color);
}

.logo img {
    width: 100%;
}

.sections {
    padding: 0;
}

.section {
    padding: 25px 10px;
    list-style: none;
    border-left: 5px solid transparent;
    color: #000;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 12px;
}

.section:hover {
    background: var(--grey-3rd);
    color: var(--yellow-color);
    border-left: 5px solid var(--yellow-color);
}

.section i {
    margin-right: 10px;
}

.top-panel {
    position: absolute;
    top: 20px;
    right: 4%;
    width: 75%;
    background: var(--grey-color);
    display: flex;
    align-items: center;
}



.user {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border-left: 3px solid #fff;
}

.user a {
    color: #000;
    text-decoration: none;
}

.user-notification {
    width: 70%;
    text-align: right;
    padding-right: 30px;
    box-sizing: border-box;
}

#dashSection {
    position: absolute;
    right: 4%;
    width: 75%;
}

#dashSection p.breadCrumbs {
    /* width: 30%; */
    text-align: right;
}

.breadCrumbs.active {
    color: var(--yellow-color);
    text-decoration: none;
}

#user-pic {
    width: 100%;
}

.user-img {
    width: 50px;
    margin: 0;
}

i.submenu {
    padding: 20px 30px 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdownList {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    background: var(--grey-color);
    color: #000;
    z-index: 1000;
    display: none;
}

.dropdownList a {
    background: var(--grey-3rd);
    color: var(--yellow-color);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    
}

.dropdownList a:hover {
}

.dropdownList.active {
    display: flex;
}

.only-phones {
    display: none;
}

.hidden {
    display: none;
}

.sections a.a-bars {
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.show-with-bars {
    width: 100%;
}

.show-with-bars a {
    justify-content: center;
}

.panel2 {
    display: none;
    justify-content: space-around;
    top: 33px;
    background: #F2F2F2;
}

.panel2 a {
    color: #8C8C8C;
    /* padding: 20px; */
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 5px solid transparent;
}

.panel2 a:hover {
    color: var(--yellow-color);
    /* background: #525252; */
    background: #fff;
    border-top: 5px solid var(--yellow-color);
}

.panel2 a i {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {

    .left-panel.tablets {
        display: none;
    }

    .left-panel.only-phones {
        display: flex;
        width: 8%;
    }

    .user-notification {
        width: 50%;
    }

    .user {
        width: 50%;
    }

    #submenu {
        padding: 20px;
    }

    .top-panel, #dashSection{
        width: 80%
    }

    
}

@media screen and (max-width: 720px) {

    .left-panel {
        display: none !important;
    }

    .user-notification {
        width: 40%;
    }

    .user {
        width: 60%;
    }


    .top-panel,
    #dashSection {
        width: 100%;
        margin: 0 auto;
        right: 0;
        position: relative;
    }

    .panel2 {
        display: flex;
        position: relative;
    }
}

@media screen and (max-width: 720px) {
    .user-notification {
        width: 30%;
        text-align: unset;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .user-notification i {
        padding:  10px;
        box-sizing: border-box;
        font-size: 1.3em;
    }

    .user {
        width: 70%;
    }

    .user .firstName {
        font-size: .8em;
    }
}