.hero-img {
    background: url('../img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: color;
}


.text-hero {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.text-hero h3 {
    font-size: 54px;
    font-weight: 100;
    width: 100%
}

.text-hero h1 {
    font-size: 70px;
    width: 100%;
}

.text-hero div {
    width: 40%;
    border-bottom: 2px solid #fff;
}

.text-hero div p {
    font-weight: 100;
}

section .title {
    text-align: center;
    padding: 50px 0px;
    background: url('../img/section-title-background.png');
    display: flex;
    justify-content: center;
}

section .title h3 {
    font-size: 24px;
    color:#fff;
    font-family: 'Open Sans';
    padding: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    width: max-content;

}

/* //======================================================================================== */
/*                                                                                      *
 *                                     MEDIA QUERYS                                     *
 *                                                                                      */
/* //======================================================================================== */

@media screen and (max-width: 720px) {
    .text-hero h3 {
        font-size: 32px;
    }

    .text-hero h1 {
        font-size: 54px;
    }

    .text-hero div {
        width: 100%;
    }    
}
