body, html, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body, html {
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: 'Open Sans';
}

:root {
    --grey-color: #f2f2f2;
    --grey-2nd: #B7B7B7;
    --grey-3rd: #515151;
    --yellow-color: #FE921F;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-container {
    height: 100vh;
}

.hero-img {
    background: url('../img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: color;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

header .logo img {
    width: 60%;
}

.buttons {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-icon img,
.bars-icon img {
    width: 100%;
}

.search-icon:hover,
.bars-icon:hover {
    cursor: pointer;
}

.search-icon, .bars-icon {
    width: 25px;
}

.text-hero {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.text-hero h3 {
    font-size: 54px;
    font-weight: 100;
    width: 100%
}

.text-hero h1 {
    font-size: 70px;
    width: 100%;
}

.text-hero div {
    width: 40%;
    border-bottom: 2px solid #fff;
}

.text-hero div p {
    font-weight: 100;
}

section .title {
    text-align: center;
    padding: 50px 0px;
    background: url(/img/section-title-background.png);
    display: flex;
    justify-content: center;
}

section .title h3 {
    font-size: 24px;
    color:#fff;
    font-family: 'Open Sans';
    padding: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    width: max-content;

}

.list-product {
    display: flex;
    margin-bottom: 20px;
}

.list-product figure {
    width: 20%;
    margin: 0;
    position: relative;
}

.list-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-product {
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.detail-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desc-product {
    font-family: 'Open Sans';
    font-style: italic;
    width: 100%;
}

.detail-product p {
    font-family: 'Open Sans';
    font-weight: bold;

}

.title-product {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 100;
    width: 100%;
}

.prize {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: #fff;
    padding: 10px 30px;
    background: #000;
    font-family: 'Open Sans';
    font-size: 18px;
}

footer {
    background: #000;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.enlaces {
    padding: 20px 5px;
}

.enlaces a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    margin-right: 15px;
}

.buttonUp {
    display: flex;
    align-items: center;
}

.buttonUp i {
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
}

.buttonUp i:hover {
    cursor: pointer;
}

.modal {
    background: #fff;
    height: 100vh;
    /* display: none; */
    position: fixed;
    width: 100%;
    z-index: 100;
    animation-duration: .4s;

}

.searchModal {
    left: 100%;
    display: block;
}

.hambModal {
    left: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.buttonCloseModal {
    position: absolute;
    right: 50px;
    top: 40px;
}

.buttonCloseModal:hover {
    cursor: pointer;
}   

.buttonCloseModal i {
    font-size: 52px;
}

#searchProduct {
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    margin-top: 150px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 10px 0px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 100;
    color: var(--grey-2nd);
}

.hambModal.modal a {
    text-decoration: none;
    width: 100%;
    color: #000;
    font-size: 52px;
    text-decoration: underline;
    text-decoration-color:#fff;
}

/* //======================================================================================== */
/*                                                                                      *
 *                                     TRANSICIONES                                     *
 *                                                                                      */
/* //======================================================================================== */

@keyframes bringFromRight {
    from {
        left: 100%;
    } 
    to {
        left: 0%;
    }
}

@keyframes hideToRight {
    from {
        left: 0%;
    }
    to {
        right: 100%;
    }
}



/* //======================================================================================== */
/*                                                                                      *
 *                                     MEDIA QUERYS                                     *
 *                                                                                      */
/* //======================================================================================== */

@media screen and (max-width: 700px) {
    .hide-phones {
        display: none;
    }
    .only-phones div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo img {
        width: 45%;
    }

    header {
        padding-top: 10px;
    }

    

    
}

@media screen and (max-width: 720px) {

    .text-hero h3 {
        font-size: 32px;
    }

    .text-hero h1 {
        font-size: 54px;
    }

    .text-hero div {
        width: 100%;
    }

    section .container {
        width: 100%;

    }

    .list-product figure {
        width: 40%;
    }

    .info-product {
        width: 60%;
        padding: 5px 10px;
    }

    .desc-product {
        font-size: 12px;
        margin: 0px;
    }

    .detail-product {
        font-size: 12px;
    }

    .detail-product p {
        margin: 4px 0px;
    }
}

@media screen and (max-width: 420px) { 
    .prize {
        padding: 5px 15px;
        font-size: 14px;
    }

    .enlaces a {
        font-size: 12px;
    }

    .enlaces {
        padding: 20px 0px;
    }
}

@media screen and (min-width: 700px) {
    .only-phones {
        display: none;
    }
}