form.user-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form div{
    width: 40%;
}

form div input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--yellow-color);
    outline: none;
    padding: 5px 0px;
    font-family: 'Open Sans';
    color: #000;
    font-weight: 400;
    font-size: 1em;
}

form div input::placeholder {
    color: var(--grey-2nd);
}

.updateButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.updateButtonContainer input {
    width: 25%;
}

.login-button {
    border: none;
    background: var(--yellow-color);
    padding: 10px 0;
    width: 100%;
    display: block;
    color: #fff;
    outline: none;
    margin-bottom: 20px;
}

.box-select {
    position: relative;
    width: 100%;
}

.box-select select{
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--yellow-color);
    font-size: 1em;
    color: var(--grey-2nd);
    -webkit-appearance: button;
    appearance: button;
      outline: none;
}

.box-select::before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    top: -50%;
    right: 0;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    color: var(--yellow-color);
    pointer-events: none;
}

.box-select select option {
    padding: 10px 15px;
    color: #000;
}

@media screen and (max-width: 720px) {
    .updateButtonContainer {
        width: 100%;
    }

    .updateButtonContainer input {
        width: 100%;
    }
} 