{{> head}}

<div class="container">
    <div class="left-panel" id="left-panel">
        <figure class="logo">
            <img src="../img/logo/L-Standard.png" alt="">
        </figure>

        <ul class="sections">
            <li class="section"><i class="fas fa-info-circle"></i>PERFIL</li>
            <li class="section"><i class="fas fa-box-open"></i>MIS PRODUCTOS</li>
            <li class="section"><i class="fas fa-user-cog"></i>AJUSTES</li>
            <li class="section"><i class="fas fa-shield-alt"></i>SEGURIDAD</li>
        </ul>
    </div>

    <div class="top-panel" id="top-panel">

        <div class="user-notification">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-bell"></i>
        </div>

        <div class="user">
            <p class="firstName" id="firstName" >Chris Amaya</p>
            <figure class="user-img">
                <img src="" alt="">
            </figure>
            <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <section id="dashSection" >
        