{{> head}}

<div class="container">
    <div class="left-panel" id="left-panel">
        <figure class="logo">
            <img src="../img/logo/L-Standard.png" alt="">
        </figure>

        <ul class="sections">
            {{!-- <li class="section"><i class="fas fa-info-circle"></i>PERFIL</li> --}}
            <a href="/dashboard/productos" class="section"><i class="fas fa-box-open"></i>MIS PRODUCTOS</a>
            <a href="/dashboard/user" class="section"><i class="fas fa-user-cog"></i>AJUSTES</a>
            <a href="/dashboard/seguridad" class="section"><i class="fas fa-shield-alt"></i>SEGURIDAD</a>
        </ul>
    </div>

    <div class="top-panel" id="top-panel">

        <div class="user-notification">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-bell"></i>
        </div>

        <div class="user">
            <a class="firstName" id="firstName" href="/perfil" >Chris Amaya</a>
            <figure class="user-img">
                <img src="" alt="" id="user-pic">
            </figure>
            <i class="fas fa-angle-down submenu" id="submenu"></i>
            <div class="dropdownList" id="dropdownList">
                <a href="" class="" id="logout">Salir</a>

            </div>
        </div>
    </div>

    <section id="dashSection" >
        