<footer>
    <div class="container">
        <div class="enlaces">
            {{!-- <a href="">¿Quiénes somos?</a> --}}
            <a href="/categorias">Categorías</a>
            {{!-- <a href="">Contacto</a> --}}
            <a href="/cookies">Política de Cookies</a>
            <a href="/aviso-de-privacidad">Aviso de privacidad</a>
        </div>

        <div class="buttonUp">
            <i class="fas fa-chevron-up"></i>
        </div>

    </div>
</footer>