<header class="hide-phones" >
    <div class="logo">
        <a href="/">
            <img src="../img/ASDFASDAS-Standard.png" alt="">
        
        </a>
    </div>
    <div class="buttons">
        <div class="search-icon" id="buttonSearch" >
            <img src="../img/Search.png" alt="">
        </div>
        <div class="bars-icon" id="buttonBars">
            <img src="../img/Menu.png" alt="">
        </div>
    </div>
</header>

<header class="only-phones">
        <div class="bars-icon">
            <img src="../img/Menu.png" alt="" id="buttonBars">
        </div>

        <div class="logo">
            <img src="../img/ASDFASDAS-Standard.png" alt="">
        </div>

        <div class="search-icon">
            <img src="../img/Search.png" alt="" id="buttonSearch">
        </div>
</header>