<div class="searchModal modal" id="searchModal" >
    <div class="buttonCloseModal" id="buttonCloseModal">
        <i class="fas fa-times"></i>
    </div>

    <input type="text" placeholder="Buscar Producto" id="searchProduct">

    <div class="results container" id="resultProducts">

    </div>
</div>

<div class="hambModal modal" id="hambModal">
    <div class="buttonCloseModal" id="buttonCloseModal">
        <i class="fas fa-times"></i>
    </div>

    <a href="/">INICIO</a>
    <a href="/categorias">CATEGORIAS</a>
    <a href="/acceso">ACCESO | REGISTRO</a>
</div>